extends template

block header
	header
		.banner
			h1= manifest.name
			button.action.action--clear Clear log

block content
	main.content
		noscript Note: This application requires JavaScript.

block footer
	footer
		form.banner(action=".", method="get")
			input(type="text", placeholder="0")
			//- button(type="button").action.action--toggle-keyboard Swap input type
			button(type="submit").action.action--submit Calculate
			button(type="reset").action.action--reset Reset
