extends ./layout.jade

block title
	title Redirecting

append stylesheets
	style.
		[role=alert]{padding:1em}noscript{color:#ff3b30;display:inline}

block content
	p(role="alert") We will redirect you asap.
		noscript  Actually, we won&rsquo;t, because Javascript isn&rsquo;t enabled.

append javascripts
	if verbose
		script(src="/derefer.js")
	else
		script
			include ../build/derefer.min.js
