extends ./index.jade

append stylesheets
	style.
		[role=alert]{padding:1em}[role=alert]::before{content:"404";float:left;height:9em;margin-right:1em;opacity:0.25}

block content
	p(role="alert")
		| Not a page we know of.
		br
		| Maybe you would want to go to the 
		a(href="/") start page
		| , because this is the only page we have to offer.
