extends ./layout.jade

block content
	p(role="alert")
		| Not a page we know of.
		br
		| Maybe you would want to go to the 
		a(href="/") start page
		| , because this is the only page we have to offer.
