doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title cssence.github.io
		meta(name="viewport", content="width=device-width,initial-scale=1.0")
		link(rel="stylesheet", href="all.css?inline")
		link(rel="stylesheet", href="console.css?inline")
		style footer p{height:3.5em;margin-top:-1px;padding:1em}li{margin-left:2ch}
		link(rel="icon apple-touch-icon", type="image/png", sizes="192x192", href="https://cssence.com/about/logo.png")
		link(rel="icon", type="image/png", sizes="16x16", href="https://cssence.com/img/logo-16.png")
		link(rel="icon", type="image/png", sizes="32x32", href="https://cssence.com/img/logo-32.png")
	body.header.nav.footer
		header
			.banner
				h1 cssence.github.io
		nav.content
			ul
				li /404.html
				each link in ["/404/", "/bookmarks/", "/calendar/", "/console/", "/README.md", "/robots.txt"]
					li
						a(href=link)= link
		footer
			p ©&nbsp;2017 
				a(href="https://cssence.com/") cssence.com
