doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		block title
			if title
				title= title
		meta(name="viewport", content="width=device-width,initial-scale=1.0")
		block stylesheets
		block icons
			if verbose
				link(rel="icon", sizes="16x16", href="/index.gif")
			else
				link(rel="icon", sizes="16x16", href="data:image/gif;base64,R0lGODlhEAAQAKEAAAAAAF/T+wAAAAAAACH5BAEKAAIALAAAAAAQABAAAAIhhIynKe0PgYG0Wiev3nl72n1aQDYhRQZfak6ieHrJvBwFADs=")
	body
		block content
		block javascripts
