doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		block title
			if title
				title= title
		meta(name="viewport", content="width=device-width,initial-scale=1.0")
		block styles
			if verbose
				link(rel="stylesheet", href="/init.css")
			else
				style
					include ../build/init.min.css
		block icons
			if verbose
				link(rel="icon", sizes="16x16", href="/index.gif")
			else
				link(rel="icon", sizes="16x16", href="data:image/gif;base64,R0lGODlhEAAQAKECAAAAANNLbP///////yH5BAEKAAIALAAAAAAQABAAAAIglI9pIOwNmZqr0oulxDzp3gUiRCpiAJ7kBnZfG8UPCxYAOw==")
	body
		block content
		block scripts
