.action--toggle {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M12,17A2,2 0 0,0 14,15C14,13.89 13.1,13 12,13A2,2 0 0,0 10,15A2,2 0 0,0 12,17M18,8A2,2 0 0,1 20,10V20A2,2 0 0,1 18,22H6A2,2 0 0,1 4,20V10C4,8.89 4.9,8 6,8H7V6A5,5 0 0,1 12,1A5,5 0 0,1 17,6V8H18M12,3A3,3 0 0,0 9,6V8H15V6A3,3 0 0,0 12,3Z'%3E%3C/path%3E%3C/svg%3E");
}
.edit .action--toggle {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M18,8A2,2 0 0,1 20,10V20A2,2 0 0,1 18,22H6C4.89,22 4,21.1 4,20V10A2,2 0 0,1 6,8H15V6A3,3 0 0,0 12,3A3,3 0 0,0 9,6H7A5,5 0 0,1 12,1A5,5 0 0,1 17,6V8H18M12,17A2,2 0 0,0 14,15A2,2 0 0,0 12,13A2,2 0 0,0 10,15A2,2 0 0,0 12,17Z'%3E%3C/path%3E%3C/svg%3E");
}
.content {
	padding: 0;
}
pre,
textarea {
	height: calc(100vh - 3.5em);
	width: 100vw;
	padding: 1em;
	color: inherit;
	font: inherit;
}
pre {
	overflow: auto;
	white-space: pre-line;
	overflow-wrap: break-word;
}
.edit pre,
textarea {
	display: none;
}
.edit textarea {
	display: block;
	resize: none;
	outline: none;
}
pre a {
	color: #00f;
	overflow-wrap: break-word;
}
