a {
	color: #ff3b30;
}
a:hover {
	text-decoration: underline;
}
[data-day] {
	width: calc(1 / 7 * 100vw);
	height: calc(1 / 7 * 100vw);
	background: #fff;
	color: #000;
	text-align: center;
	vertical-align: top;
}
[data-day]::before {
	content: attr(data-day);
	display: block;
	width: calc(1 / 7 * 70vw);
	height: calc(1 / 7 * 70vw);
	margin: calc(1 / 7 * 10vw) auto calc(-1 / 7 * 25vw);
	border: 1vw solid transparent;
	border-radius: 50%;
	line-height: calc(1 / 7 * 75vw - 2vw);
}
[data-month]::after {
	content: attr(data-month);
	display: block;
	margin-top: calc(-1 / 7 * 75vw);
	font-size: 50%;
}
[data-month]#today::after {
	color: #fff;
	text-shadow: -1px 0 #ff3b30, 0 -1px #ff3b30, 1px 0 #ff3b30;
}
.alternate { background: #f6f6f6; }
.weekend { color: #999; }
[data-public-holiday] { color: #ff3b30; }
[aria-expanded="true"]::before { border-color: #f6f6f6; }
[aria-expanded="true"].alternate::before { border-color: #fff; }
#today::before { background-color: #ff3b30; color: #fff; }
.events {
	position: absolute;
	display: block;
	width: calc(1 / 7 * 100vw);
	height: 3vw;
	color: #000;
}
.event {
	position: relative;
	display: inline-block;
	width: 3vw;
	height: 3vw;
	padding: 3vw 0 0;
	text-align: left;
	word-wrap: break-word;
	overflow: hidden;
}
.event::after {
	content: "";
	position: absolute;
	display: block;
	width: 3vw;
	height: 100%;
	top: 0;
	left: 0;
	background: #5fd3fb;
	border: 0.75vw solid #fff;
	border-radius: 1.75vw;
}
.event + .event { margin-left: -1.5vw; }
.event:nth-child(5) ~ .event { display: none; }
.birthday::after,
.birthday .tag { background-color: #ff8f00; }
.task::after,
.task .tag { background-color: #bada55; }
.tags { display: inline; }
.tag {
	display: inline-block;
	margin-right: 0.5ex;
	padding: 0 0.5ex;
	background: #5fd3fb;
	font-size: 75%;
	white-space: nowrap;
}
.tag[title^="@"] { background: #ccc; color: #000; }
.tag[title*="!"] { background: #ff3b30; }
time,
.tag { padding-top: 0.25vw; border-radius: 1vw; color: #fff; }
time { display: inline-block; width: 6ex; background: #000; border: 1px solid transparent; text-align: center; }
.location,
.description { margin-top: 0.333rem; color: #ccc; font-size: 75%; }

[aria-expanded="true"] .events {
	width: 100vw;
	height: auto;
	z-index: 1;
	left: 0;
	border-top: 1px solid #e0e0e0;
	box-shadow: 0 1px 2vw rgba(0,0,0,0.25);
}
[aria-expanded="true"] .event:nth-child(n) {
	display: block;
	width: auto;
	height: auto;
	left: auto;
	margin-left: 0;
	padding: 3vw 2vw 3vw 5vw;
	background: #fff;
	border-bottom: 1px solid #e0e0e0;
	border-radius: 0;
}
[aria-expanded="true"] .event::after {
	width: 1vw;
	border: 0;
	border-radius: 0;
}
[data-day]:not([aria-expanded="true"]):not(:empty) {
	cursor: pointer;
}
